 @media screen {

    .site-sections > tbody > tr > td {
        white-space: nowrap;
    }


    body > [id^="lightbox"] {
      background-color: rgba(182, 196, 202, .67) !important;
      width: 100% !important;
    }
    [id^="lightbox"] input[type="text"] {
      min-width: 270px !important;
    }
    [id^="lightbox"] > [id^="lightbox"] {
      max-width: 100% !important;
    }
    [id^="lightbox"] .page-title {
      font-size: 36px !important;
      /*color: #080928 !important;*/
      color: #fff !important;
      border: none !important;
      padding: 18px 0 !important;
    }
    [id^="lightbox"] td {
      padding-top: 0 !important;
      vertical-align: top;
    }
    [id^="lightbox"] form > * {
      margin-top: 0 !important;
      border-color: #44d7d8 !important;
    }
    [id^="lightbox"] [id$="panel"] > *:first-child {
      background: transparent url(images/bg-header.jpg) no-repeat bottom right;
      background-size: cover;
    }
    [id^="lightbox"] a[href$="submit()"],
    [id^="lightbox"] a[href$="hide()"] {
      display: inline-block;
      position: relative;
      text-decoration: none;
      border-radius: 1000px;
    }
    [id^="lightbox"] a[href$="hide()"] {
      border: 1px solid #FFF;
      width: 36px !important;
      height: 36px !important;
      margin-right: 12px !important;
      margin-top: 15px !important;
    }
    [id^="lightbox"] a[href$="submit()"] {
      padding: 12px 24px !important;
      margin-top: 36px !important;
      margin-bottom: 36px !important;
      background-color: #080928 !important;
    }
    [id^="lightbox"] a[href$="submit()"]:hover {
      background-image: url(/_css/images/bg-header.jpg) !important;
      background-size: cover;
    }
    [id^="lightbox"] a[href$="submit()"] img,
    [id^="lightbox"] a[href$="hide()"] img {
      display: none;
    }
    [id^="lightbox"] a[href$="submit()"]:after,
    [id^="lightbox"] a[href$="hide()"]:after {
      display: block;
      color: white;
      font-weight: normal;
      text-align: center;
      font-size: 24px;
      font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }
    [id^="lightbox"] a[href$="hide()"]:after {
      content: "x";
      font-size: 36px;
      font-weight: lighter;
      line-height: 27px;
    }
    [id^="lightbox"] a[href$="submit()"]:after {
      content: "submit";
    }
}

  // @media screen and (max-width: 999px) {
  //   .site-sections > tbody > tr > td {
  //     width: 100% !important;
  //     display: block !important;
  //     margin-bottom: 6px;
  //     font-size: .67em !important;
  //   }

  //   .site-sections table {
  //     height: auto !important;
  //   }

  //   #mainform table {
  //     margin: 0 !important;
  //     display: block !important;
  //     width: 100% !important;
  //   }
  //   #mainform tbody {
  //     display: inline-block !important;
  //     width: 100% !important;
  //   }
  //   #mainform tr {
  //     display: inline !important;
  //     padding: 0 !important;
  //     margin: 0 !important;
  //   }
  //   #mainform td  {
  //     padding: 0 !important;
  //   }

  //   input[type=checkbox] {
  //     margin-left: 6px;
  //     margin-right: 6px;
  //     display: inline-block;
  //   }

  //   select,
  //   textarea,
  //   input[type=text],
  //   .form-element {
  //     height: 50px;
  //     display: block !important;
  //     width: 100% !important;
  //   }
  // }
