@media screen {
    body {
        color: #080928 !important;
        background: #FFF url(images/bg-header.jpg) no-repeat scroll top !important;
        background-size: 1000px 570px !important;
        font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-weight: lighter !important;
    }

    textarea {
        padding: 6px 12px !important;
    }

    a {
      color: #32c9f0 !important;
      line-height: 1.3em;
      font-weight: normal !important;
    }

    select {
      border-radius: 0;
    }

    input[type=text],
    label,
    select,
    textarea,
    .form-element {
      font-weight: normal;
      border-bottom: 1px solid #080928;
      width: 100%;
    }

    input[type=text]:focus,
    textarea:focus,
    select:focus,
    .form-element:focus {
      font-weight: normal;
      outline: 0 !important;
      border-bottom: 2px solid #44d7d8 !important;
      border-color: #44d7d8 !important;
    }

    input::-ms-input-placeholder,
    textarea::-ms-input-placeholder,
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    input::placeholder,
    textarea::placeholder {
        font-weight: lighter !important;
    }

    input[type=text] {
        color: #080928;
    }

    input[type=checkbox] {
      margin-left: 6px;
      display: inline-block;
    }


    /*  MAIN FORM   */
    form {
      display: block;
      margin: 0 auto;
      max-width: 1000px;
      /*overflow: hidden;*/
    }

    form td,
    form input,
    form textarea,
    form select {
      font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }

    .site-sections,
    body > div:last-child > table:first-child,
    #mainform > table:first-child  {
      font-family: 'champion_htf-bantamweightRg' !important;
    }

    .site-sections td,
    body > div:last-child > table:first-child td,
    #mainform > table:first-child td {
      font-family: 'champion_htf-bantamweightRg' !important;
      font-size: 21px !important;
      font-weight: normal !important;
      white-space: nowrap !important;
    }

    /* Selector hack for action cells
    td[style="padding-left:57px;"] {
      padding-left: 0 !important;
    } */

    /* TYPOGRAPHICS */
    .font2 {
      font-size: 16px !important;
      font-weight: normal !important;
      font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }

    /*  BUTTONS  */
    button[name=BACK],
    input[name=BACK],
    button[name=SUBMIT],
    input[name=SUBMIT],
    button[name=CONTINUE],
    input[name=CONTINUE],
    /* Selector hack for the pseudo-links on register-confirm.htm */
    [onclick^="window.location.href="] {
      margin: 0 auto;
      display: block;
      border: 0 !important;
    }
    button.btn[name=BACK],
    input[name=BACK],
    button.btn[name=SUBMIT],
    input[name=SUBMIT],
    button.btn[name=CONTINUE],
    input[name=CONTINUE],
    /* Selector hack for the pseudo-links on register-confirm.htm */
    [onclick^="window.location.href="] {
      padding: 12px 24px !important;
    }
    button.btn[name=SUBMIT] > .btn-label,
    input[name=SUBMIT],
    button.btn[name=BACK] > .btn-label,
    input[name=BACK],
    button.btn[name=CONTINUE] > .btn-label,
    input[name=CONTINUE],
    /* Selector hack for the pseudo-links on register-confirm.htm */
    [onclick^="window.location.href="] {
      font-size: 24px !important;
      letter-spacing: 2px !important;
    }

    .btn,
    a[href^="javascript:"],
    a[href$="logout.htm"],
    button[name=BACK],
    input[name=BACK],
    input[name=SUBMIT],
    button[name=SUBMIT],
    input[name=CONTINUE],
    button[name=CONTINUE],
    /* Selector hack for the pseudo-links on register-confirm.htm */
    [onclick^="window.location.href="] {
        font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-weight: bold !important;
        background-color: #080928 !important;
        display: inline-block;
        padding: 8px 16px;
        text-transform: uppercase;
        color: #FFF !important;
        border-radius: 1000px;
        font-size: 11px;
        text-decoration: none !important;
        width: auto !important;
        height: auto !important;
    }
    .btn:hover,
    a[href^="javascript:"]:hover,
    button[name=BACK]:hover,
    input[name=BACK]:hover,
    input[name=SUBMIT]:hover,
    button[name=SUBMIT]:hover,
    input[name=CONTINUE]:hover,
    button[name=CONTINUE]:hover,
    /* Selector hack for the pseudo-links on register-confirm.htm */
    [onclick^="window.location.href="]:hover {
        background-image: url(/_css/images/bg-header.jpg) !important;
        background-position: center !important;
        background-size: cover !important;
    }
    .btn > .btn-label {
      text-decoration: none !important;
    }
    .btn.btn-trans,
    a[href$="logout.htm"] {
      color: #FFF !important;
      background: transparent none !important;
      border: 1px solid #FFF !important;
      margin: 16px 24px !important;
    }
    .btn.btn-trans:hover,
    a[href$="logout.htm"]:hover {
      text-decoration: none;
      color: #080928 !important;
      border-color: #080928 !important;
    }

    /* Selector hack for CVV trigger */
    a[href="javascript:page_lightbox_cvv_show()"] {
      display: inline-block;
      padding: 8px 12px !important;
    }

    /* TITLES */
    .page-header {
      display: block;
      background: transparent url(/_css/images/bg-header.jpg) no-repeat bottom right;
      background-size: cover;
      max-width: 1000px;
      margin: 0 auto;
    }

    .page-title,
    .section-title {
      text-transform: small-caps;
      font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
      padding-bottom: 18px !important;
    }

    .page-title {
      font-weight: bold;
      color: #FFF;
    }
    .page-title + * {
      margin: 0 auto !important;
      padding-top: 16px !important;
      border-top: 4px solid #b4cfec !important;
      width: 100% !important;
      position: relative;
      background-color: #FFF !important;
      width: 100% !important;
      max-width: 1000px;
    }
      .page-title + *:after,
      .page-title + *:before {
        content: " ";
        background-color: #FFF;
        display: block;
        position: absolute;
        width: 500px;
        height: 300px;
        top: -4px;
        border-top: 4px solid #b4cfec !important;
      }
      .page-title + *:after {
        z-index: -1;
        left: 50%;
      }
      .page-title + *:before {
        z-index: -1;
        right: 50%;
      }
    .page-title + * + .section-title {
      display: block;
      width: 100%;
      padding: 48px 0 48px !important;
      margin: 0 auto !important;
      text-align: center;
      border: 0 !important;
    }
    .page-title + * + *,
    .page-title + * + * + *,
    .page-title + * + * + * + * {
      background-color: #fff !important;
    }

    .section-title {
      font-weight: bold;
      padding-left: 18px;
      padding-right: 18px;
      background-color: #fff !important;
      margin-bottom: 36px !important;
      border-bottom: 0 !important;
    }
      .section-title + * {
        background-color: #fff !important;
        margin-top: 0 !important;
      }

    /* Selector hack for room titles */
    [id^="room-type"] {
      font-weight: bold !important;
    }


    /* Selector hack for CC sub-table */
    #cc-section table[style*="width:300px;"] {
      padding: 5px 0 0 0 !important;
      width: 100% !important;
    }
    #cc-section table[style*="width:300px;"] tr:nth-child(2n+1) td:first-child {
      font-weight: bold !important;
    }
    #cc-section table[style*="width:300px;"] > tbody {
      display: block !important;
    }
    #cc-section table[style*="width:300px;"] > tbody > tr {
      display: block !important;
      width: 100% !important;
    }
    #cc-section table[style*="width:300px;"] > tbody > tr:nth-child(2n) {
      margin-bottom: 29px !important;
      vertical-align: bottom !important;
    }
    #cc-section table[style*="width:300px;"] > tbody > tr:nth-child(2n) > td {
      height: auto !important;
      vertical-align: bottom !important;
    }
    #cc-section table[style*="width:300px;"] > tbody > tr > td {
      display: table-cell !important;
      height: 50px !important;
      padding: 6px 5px !important;
      border-color: #44d7d8 !important;
      vertical-align: middle !important;
      width: 100%;
    }



    /*  LIGHTBOX  */
    [id$="overlay"],
    body > [id^="lightbox"] {
      background-color: rgba(182, 196, 202, .67) !important;
      width: 100% !important;
    }
    [id^="lightbox"] input[type="text"] {
      min-width: 270px !important;
    }
    [id^="lightbox"] > [id^="lightbox"] {
      max-width: 100% !important;
    }
    [id^="lightbox"] .page-title {
      font-size: 36px !important;
      /*color: #080928 !important;*/
      color: #fff !important;
      border: none !important;
      padding: 18px 0 !important;
    }
    [id^="lightbox"] td {
      padding-top: 0 !important;
      vertical-align: top;
    }
    /* Selector hack for content boxes */
    [id^="lightbox"] [style*="border:4px solid #fe5189"] {
      margin-top: 0 !important;
      border-color: #44d7d8 !important;
    }
    [id^="lightbox"] [id$="panel"] > *:first-child {
      background: transparent url(images/bg-header.jpg) no-repeat bottom right;
      background-size: cover;
    }
    [id^="lightbox"] a[href$="submit()"],
    [id^="lightbox"] a[href$="hide()"] {
      display: inline-block;
      position: relative;
      text-decoration: none;
      border-radius: 1000px;
    }
    [id^="lightbox"] a[href$="hide()"] {
      border: 1px solid #FFF;
      width: 36px !important;
      height: 36px !important;
      margin-right: 12px !important;
      margin-top: 15px !important;
      padding: 0 !important;
      background: transparent !important;
    }
    [id^="lightbox"] a[href$="submit()"] {
      padding: 12px 24px !important;
      margin-top: 36px !important;
      margin-bottom: 36px !important;
      background-color: #080928 !important;
    }
    [id^="lightbox"] a[href$="submit()"]:hover {
      background-image: url(/_css/images/bg-header.jpg) !important;
      background-size: cover;
    }
    [id^="lightbox"] a[href$="submit()"] img,
    [id^="lightbox"] a[href$="hide()"] img {
      display: none;
    }
    [id^="lightbox"] a[href$="submit()"]:after,
    [id^="lightbox"] a[href$="hide()"]:after {
      text-transform: uppercase;
      display: block;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 24px;
      font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }
    [id^="lightbox"] a[href$="hide()"]:after {
      content: "x";
      font-size: 21px;
      font-weight: lighter;
      line-height: 35px;
    }
    [id^="lightbox"] a[href$="submit()"]:after {
      content: "submit";
    }

    /* Page-specific styles */
    .index form[name="mainform"] {
      border-top: 4px solid #b4cfec !important;
      background-color: #fff !important;
    }

    .user-profile-details {
      border-top: 4px solid #b4cfec !important;
      padding-top: 48px !important;
      background-color: #fff !important;
    }
}

@media screen and (max-width: 999px) {
  body {
    min-width: 320px !important;
    background-size: auto 750px !important;
    background-position: top right !important;
  }

  body > div {
    width: auto !important;
  }

  #mainform,
  #cc-section,
  body > div > form {
    display: block;
    width: auto;
    max-width: 1000px;
    padding: 24px;
    margin: 0 !important;
    overflow: hidden;
  }

  #cc-section table,
  form table {
    margin: 0 !important;
    display: block !important;
    width: 100% !important;
  }
  #cc-section tbody,
  form tbody {
    display: inline-block !important;
    width: 100% !important;
  }
  #cc-section tr,
  form tr {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  #cc-section td,
  form td  {
    position: relative;
    padding: 0 !important;
  }

  #cc-section table td,
  form > table > tbody > tr > td  {
    width: 100% !important;
    display: block !important;
    margin-bottom: 36px;
  }
  #cc-section table td,
  form > table > tbody > tr > td > div {
    width: auto !important;
  }

  /* Selector hack for section titles */
  .site-sections,
  body > div:last-child > table:first-child,
  #mainform > table:first-child  {
    font-family: 'champion_htf-bantamweightRg' !important;
    display: block !important;
    width: auto !important;
    margin: 0 auto !important;
    text-align: center !important;
  }

  .site-sections > tbody,
  body > div:last-child > table:first-child > tbody,
  #mainform > table:first-child > tbody {
    display: inline-block !important;
    width: auto !important;
    margin: 0 auto !important;
    text-align: left;
  }

  .site-sections table,
  body > div:last-child > table:first-child table,
  #mainform > table:first-child table {
    height: auto !important;
    width: auto !important;
  }

  .site-sections td,
  body > div:last-child > table:first-child td,
  #mainform > table:first-child td {
    font-family: 'champion_htf-bantamweightRg' !important;
    margin: 0 auto !important;
  }

  /* Selector hack for section dots */
  div[style*="width:15px; height:15px;"] {
    width: 12px !important;
    height: 12px !important;
    margin: 0 4px 0 3px !important;
  }

  /* Selector hack to target accommodation cells */
  [style="width:100%; border-bottom:4px solid #000000; padding:14px 0px 10px 0px;"] {
    display: block !important;
    border-bottom: 0 !important;
    margin-top: 48px !important;
  }
  [style="width:100%; border-bottom:4px solid #000000; padding:14px 0px 10px 0px;"] + * {
    width: 100%;
    text-align: right;
  }
  [style*="width:180px"] {
    white-space: nowrap;
    width: auto !important;
    vertical-align: middle !important;
  }
  tr[style="vertical-align:top;"] {
    vertical-align: middle !important;
  }
  a[href^="javascript:page_roomtype_toggle_show"],
  a[href^="javascript:page_roomtype_toggle_select"] {
    vertical-align: middle !important;
    margin: 0 3px 0 12px !important;
  }

  /* Selector hack to target room description cells */
  [id^="roomtype"] td {
    margin: 0 auto;
    display: block !important;
  }

  /* Selector hack for CVV trigger */
  a[href="javascript:page_lightbox_cvv_show()"],
  a[href="javascript:page_coupon_apply()"] {
    display: block;
    position: absolute;
    right: 0;
    top: -75px;
  }

  /* Selector hack for checkbox */
  table[style*="margin-top:20px"] td {
    display: inline-block;
  }

  /* Selector hack for CC sub-table */
  #cc-section table td div[style*="padding-right:30px"] {
    padding-right: 0 !important;
  }
  #cc-section table[style*="width:300px;"] {
    width: 100% !important;
    display: table !important;
    margin-bottom: 48px !important;
  }
  #cc-section table[style*="width:300px;"] > tbody {
    display: block !important;
  }
  #cc-section table[style*="width:300px;"] > tbody > tr {
    display: block !important;
    width: 100% !important;
  }
  #cc-section table[style*="width:300px;"] > tbody > tr:nth-child(2n) {
    margin-bottom: 48px !important;
  }
  #cc-section table[style*="width:300px;"] > tbody > tr > td {
    display: table-cell !important;
    width: 100% !important;
  }

  /* Page titles */
  .page-title {
    font-weight: bold;
    color: #FFF;
  }
  .page-title + * {
    overflow: visible !important;
  }

  .form-actions td {
    display: block;
    width: auto !important;
    margin: 24px auto !important;
  }

  input[type=checkbox] {
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
  }

  select,
  textarea,
  input[type=text],
  .form-element {
    height: 50px;
    display: block !important;
    width: 100% !important;
  }

  .user-profile-details {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .user-profile-personal {
    margin-left: 24px !important;
    margin-right: 24px !important;
  }

  .user-profile-details td,
  .user-profile-personal td {
    display: block;
  }

  .user-profile-details td {
    margin-bottom: 24px;
  }

  .user-profile-personal td {
    margin-bottom: 48px;
  }
}
